{%extends 'base.html'%}
{%load static%}

{%block titulo%}Entrar al Sistema{%endblock titulo%}

{%block content%}

<section class="container">

<h3 class="center-align">
Hola, Ahora es más fácil revisar tu historial de pagos y el estado actual de tu lote en los desarrollos Pro-Visión.
</h3>
<br>
<br>
<br>
<br>
<h5>Te invitamos a entrar al sistema con tus redes sociales:
</h5>
<br>
<br>
<br>
<br>
<a class="btn waves-effect blue"href="{%url 'social:begin' 'facebook'%}?next={{ request.next }}">Entrar con Facebook</a>


</section>


{%endblock content%}