{%extends "base.html"%}
{%load static%}

{%block content%}
<div class="section grey">
<div class="container">


<div id="revisando"class="row">

<ul class="col m6 collection with-header">

        <li class="collection-header">Nombre</li>
        <li class="collection-item"><h5>{{mensaje.nombre}}</h5></li>

        <li class="collection-header">Teléfono</li>

        <li class="collection-item">
          <a href="tel:{{mensaje.tel}}"><h5>{{mensaje.tel}}</h5></a>
        </li>
        
        <li class="collection-header">E-Mail</li>
        <li class="collection-item">
        <a href="mailto:{{mensaje.mail}}?subject=Gracias por Tu interez">
        <h5>{{mensaje.mail}}</h5>
        </a>
        </li>
        <li class="collection-header">Datos Extra:</li>
        {%for extra in extras%}
        <li class="collection-item">
        
        <h5>{{extra.dato}}</h5>
        
        </li>
        {%endfor%}

      </ul>

<ul class="col m6 collection with-header">

        <li class="collection-header">Plazo</li>
        <li class="collection-item"><h5>{{mensaje.plazo}}</h5></li>
        <li class="collection-header">Tamaño</li>
        <li class="collection-item"><h5>{{mensaje.size}}</h5></li>
        
        <li class="collection-header">Fecha de llegada</li>
        <li class="collection-item"><h5>{{mensaje.date}}</h5></li>
      </ul>

<form method="post" action="{%url '_add-coment' mensaje.id%}">
{%csrf_token%}
     <div class="col m12 white row">

     <div class="white input-field col m6">
          <textarea required name="coment"class="materialize-textarea"></textarea>
          <label for="textarea1">Comentar</label>
        </div>

        <div class="input-field col m6">
        <input value="{{mensaje.contacto}}"
        name="contacto"id="contacto" type="date" class="datepicker">
        <label for "fecha">Proxima llamada</label>
        </div>

     </div>
     


        <a class="waves-effect waves-light btn right modal-trigger red" href="#modal1">
        <i class="material-icons left">done_all</i>
        Eliminar!
        </a>


         <button type="submit" class="waves-effect waves-light btn right orange"><i class="material-icons left">done</i>Pendiente</button>

         <a class="waves-effect waves-light btn right modal-trigger blue" href="#modal2">
        <i class="material-icons left">info_outline</i>
        Editar
        </a>
</form>
</div>

<!--Comentarios anteriores-->

  <div class="container">
  {%with comments.count as total_comments%}
  <h5>
  {{total_comments}} Comentario{{total_comments|pluralize}}
  </h5>
  {%endwith%}
  <ul class="collection">
    {%if mensaje.comentario%}
    <li class="collection-item">{{mensaje.comentario}}</li>
    {%endif%}
  {%for comment in comments%}
      <li class="collection-item">
        <span class="blue-text">{{comment.created}}</span><br>
        {{comment.body}}

        <span class="secondary-content">
      
      </span>
    </li>
    {%empty%}
    <li>--Aún no se han hecho comentarios--</li>
{%endfor%}
    </ul>
    </div>

         <a href="#modal3" class="waves-effect waves-light btn left green modal-trigger"><i class="material-icons left">youtube_searched_for</i>Volver</a>





</div>
</div>


<!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Borrar Formulario</h4>
      <p>¿Estas seguro de borrar este formulario? se borrará permanentemente.</p>
    </div>
    <div class="modal-footer">
      <a href="{%url '_borra' mensaje.id%}" class="red modal-action modal-close waves-effect waves-green btn-flat">Borrar</a>
      <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
    </div>
  </div>

  <!-- Modal VOLVER -->
  <div id="modal3" class="modal">
    <div class="modal-content">
      <h4>NO SE HAN GUARDADO LOS CAMBIOS</h4>
      <p>¿Estas seguro de salir sin guardar los cambios?</p>
    </div>
    <div class="modal-footer">
      <a href="{%url '_inicio'%}" class="red modal-action modal-close waves-effect waves-green btn-flat white-text">Salir</a>
      <a href="#revisando" class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
    </div>
  </div>

  <!--Modal de edición-->

    <div id="modal2" class="modal row white">
    <form method="post" class="modal-content col s12">
    {% csrf_token %}
      <div class="row">

        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input name="nombre"value="{{mensaje.nombre}}"type="text" class="validate">
          <label for="icon_prefix">Nombre</label>
        </div>

        <div class="input-field col s6">
          <i class="material-icons prefix">phone</i>
          <input name="tel"value="{{mensaje.tel}}" type="tel" class="validate">
          <label for="icon_telephone">Teléfono</label>
        </div>

        <div class="input-field col s6">
          <i class="material-icons prefix">email</i>
          <input name="mail"value="{{mensaje.mail}}" type="email" class="validate">
          <label for="icon_telephone">E-mail</label>
        </div>

        <div class="input-field col s6">
          <i class="material-icons prefix">input</i>
          <input name="size"value="{{mensaje.size}}" type="text" class="validate">
          <label for="icon_telephone">Tamaño</label>
        </div>

        <div class="input-field col s6">
          <i class="material-icons prefix">av_timer</i>
          <input name="plazo"value="{{mensaje.plazo}}" type="text" class="validate">
          <label for="icon_telephone">Plazo</label>
        </div>
        <div class="col s6">
        {{form2.as_p}}
        </div>


      </div>


         <button type="submit" class="waves-effect waves-light btn right green"><i class="material-icons left">done</i>Actualizar</button>

         <a href="#"class="modal-action modal-close waves-effect waves-light btn left red"><i class="material-icons left">youtube_searched_for</i>Cancelar</a>

        
        



    </form>
  </div>

  <script>
jQuery(document).ready(function($) {

  if (window.history && window.history.pushState) {

    window.history.pushState('forward', null, './#forward');

    $(window).on('popstate', function() {
      alert('Back button was pressed.');
    });

  }
});
  </script>


{%endblock%}

</script>

<!--Para detectar que se sale de la pagina
  <script>
jQuery(document).ready(function($) {

  if (window.history && window.history.pushState) {

    window.history.pushState('forward', null, './#forward');

    $(window).on('popstate', function() {
      alert('¡NO SE HAN GUARDADO LOS CAMBIOS!');
    });

  }
});-->
  </script>

