<meta charset="utf-8"/>
<table width="400" border="0" cellpadding="0" cellspacing="0" align="center">
<tr>
	<td bgcolor="#1976d2">
	<font size="6"color="#fff">
		¡Miguel!, Recuerda llamar hoy a:
	</font>
	</td>
</tr>
<tr>
	<td>
		<font size="8"color="#1976d2">
		Datos del cliente:
		</font>
		<font size="6">
		<p>Nombre: {{p.nombre}}</p>
		<p>Teléfono: <a href="tel:{{p.tel}}">{{p.tel}}</a></p>
		<p>Email: <a href="mailto:{{p.mail}}">{{p.mail}}</a></p>
		<p>Tamaño: {{p.size}}</p>
		<p>Plazo: {{p.plazo}}</p>
		<br>
		<br>
		</font>

		
<tr>
			<td align="center" bgcolor="#1976d2">
	<a href="http://pro-vision.com.mx/seguimiento/inicio/{{p.id}}">
	<font size="6" color="#fff">	
	¡Revisar!
	</font>
	</a>
		
	</td>
</tr>

	</td>
	

</tr>
  <tr>
    <td>
    <a href="http://terrenofacil.com.mx">
		<img src="http://terrenofacil.com.mx/images/terreno.jpg" alt="">
	</a>
    </td>
  </tr>
</table>